* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* -------------general section----------------------- */
html {
  /* font-size:10px; */
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

/* building header section */
body {
  font-family: sans-serif;
  font-weight: 400;
}

.the-biggest-container {
  background-image: url(./images/background-image.webp);
  background-size: cover;
  height: 130vh;
}

.logo-img {
  height: 2.8rem;
  width: auto;
  filter: invert(48%) sepia(79%) saturate(245%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}
.header {
  padding: 2.6rem 0;
  display: flex;
  justify-content: space-between;
  /* width:110rem;
    margin:0 auto; */
  /* justify-content: center; */
  align-items: center;

  font-weight: bold;

  color: white;
}
.main-nav-list {
  display: flex;
  justify-content: space-between;
  gap: 3.3rem;
  list-style: none;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav-link {
  font-size: 1.6rem;
}

.join-btn {
  border: 1px solid white;
  padding: 0.4rem 1rem;
  border-radius: 4px;
}

/*--------------------------- hero section ------------------ */

.the-biggest-container {
  position: relative;
}
.container-hero-section {
  max-width: 95%;
  margin: 0 auto;
}
.form-section {
  position: absolute;
  top: 28%;
  /* right: 70%; */
  left: 2.5%;
  /* transform: translate(50%, -50%); */
  width: 30%;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-section {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  /* background-color: #555; */
  color: white;
  /* background-color:antiquewhite; */
}
.freelance {
  font-style: italic;
}

.popular {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  padding: 1.4rem 0;
}
.popular li {
  font-size: 1.5rem;
}
.popular li:hover {
  background-color: white;
  color: black;
}
.popular-list {
  border: 1px solid rgb(255, 253, 253);
  border-radius: 11px;
  padding: 0.3rem 0.8rem;
}
.popular-list-1 {
  padding: 0.2rem 0;
  letter-spacing: 0.02rem;
}

.hero-para {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 56px;
}

.placeholder {
  display: flex;
  border-radius: 5px;
}

.placeholder input {
  /* width:100%; */
  padding: 0.6rem 1rem;
  padding: 1rem 24rem 1rem 3rem;

  font-size: 2rem;
  outline: none;
}

.placeholder button {
  padding: 1rem 1rem;
  background-color: #1dbf73;
  color: white;
  border: none;
  margin-left: -0.2rem;
  font-size: 2.3rem;
  outline: none;
  /* border-radius:8px; */
}

/* trusted section */
.trusted-section {
  max-width: 130rem;
  /* margin:0 auto ; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.2rem;
  background-color: rgb(203, 239, 241);
}

.trusted-section-1 {
  display: flex;
  gap: 2rem;
}

.trusted-section-img {
  height: 4.4rem;
}

/* -----------building service section------------------- */
.container {
  max-width: 110rem;
  margin: 6.4rem auto;
  /* background-color: rgb(129, 160, 188); */
}

.heading-services {
  font-weight: 600;
  font-size: 3.6rem;
  color: #111;
  margin-bottom: 2rem;
}

.grid-4-cols {
  /* max-width:10rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.photo-box {
  border-radius: 0.8rem;
  overflow: hidden;
}

.services-img {
  width: 100%;
}

/* two button---->absolute positioned-- */
/* make two buttons and add two icons from heroicons initially remove border of button
then make it positioned absolute and parent element make relative  */
.btn {
  border: none;
  /* giving height to button */
  height: 4rem;
  width: 4rem;
  position: absolute;
  border-radius: 50%;
  /* making icon centered inside button */
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 1.2rem 2.4rem rgba(1, 1, 1, 0.416);
}

.grid-4-cols {
  position: relative;
}
.btn-icon {
  height: 2rem;
  width: 2rem;
}

.btn-left {
  /* top:0; */
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn-right {
  /* top:0; */
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

/*---------------------- building woman image section ---------------------------- */

.section-woman {
  height: 90rem;
  /* display:flex; */

  background-color: #fffbf8;
}
.woman-img {
  width: 100%;
}

.woman-img-par {
  font-size: 2.6rem;
  color: #333;
}

.section-woman {
  position: relative;
}
.woman-img-cover {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(90%, -50%);
}

.icon {
  height: 2.8rem;
  width: 2.8rem;
  margin-right: 0.8rem;
  color: #555;
  font-weight: 700;
}

.icon-and-text {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 1.3rem;
}

.grid-2-colsss {
  width: 35%;
  margin: 4rem;
  padding-top: 9.6rem;
}

.heading-primary {
  font-size: 3.6rem;
  color: #444;
}

.heading-primary {
  margin-bottom: 2rem;
}

.small-para {
  font-weight: bold;
  font-size: 2rem;
  color: #333;
}

.small-paragraph {
  font-size: 1.8rem;
  color: #666;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.list {
  list-style: none;
}
.list-item {
  margin-bottom: 3.6rem;
}

/* ---------------icon-section---------------- */
.grid-5-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5rem;
}

.icon-photo {
  width: 30%;
}

.icon-and-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-para-down {
  font-size: 1.6rem;
  color: #666;
  margin-top: 1.1rem;
}
.icon-and-paragraph .bar {
  margin-top: 10px;
  border: 1.5px solid #c5c6c9;
  width: 30%;
}
.icon-and-paragraph:hover {
  cursor: pointer;
}
.icon-and-paragraph:hover .bar {
  width: 50%;
  transition: 0.2s ease-in-out;
}
/* <------------------------------------building fiver business----------------------------------> */
.fiver-business {
  background-color: #32174d;
}
.fiver-business-img {
  width: 100%;
}

.text-side button {
  color: white;
  border-radius: 11px;
  background-color: #1f75fe;
  padding: 0.2rem 1.1rem;
  border: none;
  /* display:flex;
  justify-content: center;
  align-items: center; */
  font-size: 1.1rem;
}

.text-btn {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.fiver-business-heading {
  color: white;
  font-weight: 700;
  font-size: 2.4rem;
}

.fiver-business-heading-primary {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.business-paragraph {
  color: white;
  font-size: 1.8rem;
  line-height: 1.6;
}

.icon-para {
  color: white;
  font-size: 1.6rem;
}

.container-business {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.bttn {
  margin-top: 6rem;
}
.btnn {
  text-decoration: none;
}
.btnn:link,
.btnn:visited {
  text-decoration: none;
  display: inline-block;
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
  /* transition is put in original state */
  transition: all 0.4s;
  border: 3px;
  background-color: #1dbf73;
  padding: 1rem 3.2rem;
  color: white;
  border-radius: 6px;
}
.btnn:hover,
.btnn:active {
  background-color: #cf711f;
}

.text-side {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* <--------fiver-logo-maker------------------------------> */

.logo-maker-margin {
  width: 40%;
  margin-left: 6.9rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.fiverr-logo-maker {
  margin-top: 9rem;
  height: 30rem;
  background-image: url(./images/logo\ marker\ banner.webp);
  background-size: cover;
  background-color: #5f5fcd;
}
.fiver-logo-img {
  width: 100%;
}

.heading-fiver {
  margin-top: 3.6rem;
  color: white;
  font-size: 2.4rem;
}
.heading-fiver-primary {
  font-size: 3.6rem;
  color: white;
}
.para {
  color: white;
  font-size: 1.5rem;
}

.fiver-btn:link,
.fiver-btn:visited {
  text-decoration: none;
  display: inline-block;
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
  /* transition is put in original state */
  transition: all 0.4s;
  border: 3px;
  background-color: white;
  padding: 1rem 3.2rem;
  color: blue;
  border-radius: 6px;
}

.fiver-btn:hover,
.fiver-btn:active {
  background-color: #f5f5f5;
}
